@media(prefers-color-scheme: dark) {
    :root {
        --primary-text-color: #fff;
        --primary-background:#151437;
    }

    .logo::before{
        content: url(../images/logo-dark.png);
    }
}