@import "font.css";

:root{
    --primary-font-face: "Montserrat";
    --secondary-font-face: "Trebuchet";
    --primary-text-color: #323232;
    --secondary-text-color: #FFFFFF;
    --primary-background:#151437;
    --secondary-background:#7177F1;
    --primary-title-color:#FFFFFF;
    --secondary-title-color-alt:#FFFFFF;
    --primary-link-color:#7177F1;
    --secondary-link-color:#FFFFFF;
}

body{
    background: var(--primary-background);
    font-family: var(--primary-font-face);
    color: var(--primary-text-color);
}

.logo::before{
    content: url(../images/logo-light.png);
}

.header{
    position: relative;
}

.header__link{
    color: var(--primary-link-color);
    margin: 15px;
    font-size: 24px;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    transition: 0.5s color;
}

.header__link:hover{
    color: var(--secondary-text-color);
}

.header__button{
    height: 40px;
    width: 190px;
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-link-color);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 24px;
    margin-left: 15px;
    margin-right: 60px;
}

.header__button:hover{
    color: var(--primary-link-color);
    background: var(--primary-background);
}

.header__tel{
    color: var(--primary-link-color);
    font-size: 25px;
    transition: 0.5s color, 0.5s text-shadow;
}

.header__tel:hover{
    color: var(--secondary-link-color);
    text-shadow: 0 0 15px;
}

.header__toggler{
    color: var(--primary-title-color);
    font-size: 35px;
}

.header__toggler:focus{
    box-shadow: none;
}

.intro__subtitle{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 22px;
    text-transform: capitalize;
}

.intro__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 1.25;
    text-transform: capitalize;
    color: var(--primary-link-color);
    margin-bottom: 25px;
}

.intro__button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 45px;
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary-link-color);
    margin-bottom: 50px;
    transition: 0.5s color, 0.5s background;
}

.intro__button:hover{
    color: var(--primary-link-color);
    background: var(--primary-background);
}

.intro__logo{
    max-width: 100%;
    margin-bottom: 15px;
}

.intro__logo_svg{
    height: 90px;
    color: #790FF1;
}

.intro__name{
    color: var(--primary-link-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.intro__image{
    max-width: 100%;
    display: block;
    margin: auto;
}

.intro__indicators{
    display: flex;
    justify-content: center;
    position: static;
    margin: 0;
    margin-top: 50px;
}

.intro__indicators .carousel__dot{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: none;
    outline: none;
    background: #EBEBEB;
    margin: 0 15px;
    opacity: 1;
}

.carousel__dot.active{
    background: #7177F1;
}

.rect{
    position: absolute;
    border-width: 5px;
    border-style: solid;
    z-index: -5;
}

.rect_1{
    top: 30px;
    left: 250px;
    border-radius: 50%;
    border-color: #790FF1;
    width: 60px;
    height: 60px;
}

.rect_2{
    width: 80px;
    height: 80px;
    border-color: #9297EF;
    left: 20px;
    top: 95px;
    transform: matrix(0.71, 0.71, -0.7, 0.71, 0, 0);
}

.rect_3{
    width: 100px;
    height: 100px;
    border-color: #9297EF;
    right: 160px;
    top: 80px;
}

.rect_4{
    width: 80px;
    height: 80px;
    border-color: #7177F1;
    right: 300px;
    top: 360px;
    transform: matrix(0.76, -0.66, 0.64, 0.76, 0, 0);
}

.about{
    margin-top: 75px;
    position: relative;
}

.about_left{
    position: relative;
}

.about_image{
    margin: auto;
    display: block;
    max-width: 100%;
}

.about_slogan{
    background: var(--secondary-background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    width: 190px;
    height: 65px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
}

.about_mark{
    position: absolute;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #0FDAC2;
    top: -14px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

.about_right{
    background: var(--primary-background);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 30px;
}

.about_title{
    margin-bottom: 20px;
    color: var(--primary-title-color);
    font-weight: 600;
    font-size: 40px;
    line-height: 0.75;
    text-transform: capitalize;
}

.about_text{
    font-size: 18px;
    line-height: 1.5;
    text-transform: capitalize;
}

.about_button{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-background);
    border-radius: 8px;
    height: 45px;
    width: 190px;
    font-size: 18px;
    color: var(--secondary-link-color);
    text-transform: uppercase;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    transition: 0.5s color, 0.5s background;
}

.about_button:hover{
    background: var(--primary-background);
    color: var(--primary-title-color);
}

.shape{
    position: absolute;
    z-index: -4;
    max-width: 60%;
}

.shape_1{
    right: 0;
    top: -500px;
}

.rect_5{
    width: 60px;
    height: 60px;
    border-color: #9297EF;
    right: 120px;
    bottom: -20px;
    border-radius: 50%;
}

.capabilities{
    margin-top: 75px;
    position: relative;
}

.capabilities_title{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    text-transform: capitalize;
    color: var(--primary-title-color);
    margin-bottom: 30px;
}